.main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.color_main{
    display: flex;
    width: 1350px;
    justify-content: space-evenly;
}

.color_box{
    width: 300px;
    height: 400px;
   
    background-color: aqua;
}

.color_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    background-color: white;
    margin-top: 30px;
}

.color_info span{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Google Sans Flex", sans-serif;
}

h1{
    font-family: "Ramsina",
        serif;
}